{% extends "layout.html" %}

{% block title %}AWS Dashboard - Instance Events{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container"><a class="brand">Welcome to AWS Dashboard - Instance Events</a>
				<ul class="nav">
				<li class="divider-vertical"></li>
				<li><a href="/">EC2</a></li>
				<li class="divider-vertical"></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
    <div class="span9 offset1" align="center">
	<span class="label label-info">Instance List</span></br>
	<p>
		<table class="table table-striped">
		<tr style="font-weight:bold">
		<td>Name</td><td>Public IP</td><td>POC</td><td>Type</td><td>State</td><td>Started</td><td>Scheduled Shutdown</td><td>Extend Runtime</td>
		</tr>
		{% for instance_event in instance_list %}
		<tr>
		<td>
		{{instance_event['instance_name']}}
		</td>
		<td>
		{{instance_event['instance_ip']}}
		</td>
                <td>
                {{instance_event['instance_poc']}}
		</td>
                <td>
		{{instance_event['instance_type']}}
		</td>
		{% if instance_event['state'] == "running" %}
		  <td id="instance-running">
		  {{instance_event['state']}}
		  </td>
		{% else %}
		  <td id="instance-stopped">
		  {{instance_event['state']}}
		  </td>
		{% endif %}
		<td>
		{{instance_event['instance_start_readable']}}
		</td>
		{% if instance_event['instance_use'] == shutdown_type_filter %}
		<td>
		{{instance_event['instance_shutdown']}}
		</td>
		<td>
			<form name="BootLength" action="/instanceupdate" method="post" role="form">
				<input type="hidden" name="instance_id" value="{{instance_event['instance_id']}}">
				<input type="hidden" name="region" value="{{instance_event['instance_region']}}">
				<b>Run Extension (hr):</b>
				<div class="dropdown-num">
				<select name="extension">
					<option value="1">1hr</option>
					<option value="2">2hr</option>
					<option value="4">4hr</option>
					<option value="8">8hr</option>
					<option value="12">12hr</option>
				</select>
				</div>
				<button class="btn btn-mini btn-danger" type="submit">Extend/Boot</button>
			</form>
		</td>
		{% endif %} 
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
